.notifications_profile-image {
    height: 50px;
    width: 50px;
}

.notification-renderer {
    margin-bottom: 8px !important;
    font-family: "Roboto", "Arial", sans-serif !important;

    line-height: 0.9rem !important;
    font-weight: 400 !important;


    max-height: 12rem !important;


    text-overflow: ellipsis;
    white-space: normal;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  .scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .scrollbar::-webkit-scrollbar-thumb {
    background: #cccccc; 
    border-radius: 10px;
  }
