.profile-container {
    position: relative;
    width: 150px; 
    height: 150px; 
}

.profile-image {
    border-radius: 50%;
height: 100%;
width: 100%;
    position: relative;
   
}
.add-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .image-container {
    position: relative;
    display: inline-block;
   margin: 5px;
  }
  
  .image-container:hover .add-icon {
    visibility: visible;
    opacity: 1;
  }

.progress-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(from 110deg, #e6e6e6 0% 20%, green 10% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding: 1px;
}

.progress-circle::before {
    content: '';
    position: absolute;
    width: 97%;
    height: 97%;
    border-radius: 50%;
    background-color: white;
}

.completion-text {
    position: absolute;
     bottom: -4px;
     padding: 0px 10px 0px 10px;
  
   background: white;
    font-size: 10px;
    color: green;
    font-weight: bold;
    z-index: 3;
}

.file-input-wrapper {
    position: relative;
    display: inline-block;
}

.file-input {
    position: absolute;
  
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.file-input-label {
    display: inline-block;
    padding: 5px 20px;
    background-color: white;
   border-radius: 70px;
    border: 1px solid blue;
    color: #275df5;
    font-weight: bolder;
    cursor: pointer;
    font-size: 16px;
}


.file-name {
    margin-left: 10px;
    font-size: 16px;
    color: #555;
}
.Resume_Icons{
width: 36px;
height: 36px;
display: flex;
justify-content: center;
align-items: center;
background: #f7f7f9;
color: #275df5;
}
.Resume_Icons_dimensions{
    width: 24px;
    height: 24px;
}
.Resume_border{
 border: 1px dashed red;
}
.details_container{
 max-width: 400px;
word-break: break-all;
}