
  
  .rounded-select .MuiOutlinedInput-input {
    padding: 8px !important; /* Adjust the input padding as needed */
  }
 
  .select_margins .MuiOutlinedInput-input {
    padding: 8px !important; /* Adjust the input padding as needed */
  }
.select_margins{
    
    margin-top: 10px;
    margin-bottom: 10px;
}
.rounded-select{
    border-radius: 40px !important;
}
.custom-textfield .MuiOutlinedInput-root {
    border-radius: 30px;
}
.css-16c50h-MuiInputBase-root-MuiTablePagination-select {
  
  margin-bottom: 10px;
}
.MuiTablePagination-displayedRows{
  margin-bottom: 13px;
}
.MuiTablePagination-actions{
margin-bottom: 18px;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
   max-width: 100% !important;
   width: 60% !important;
}