
  
  .rounded-select .MuiOutlinedInput-input {
    padding: 8px; /* Adjust the input padding as needed */
   
 
  }
.select_margins{
    
    margin-top: 10px;
    margin-bottom: 10px;
}
.rounded-select{
    border-radius: 40px !important;
}
.custom-textfield .MuiOutlinedInput-root {
    border-radius: 30px;
}
