.searchBox {
    position: relative;
    background: white;
    margin: 0px;

    padding: 0px;

    width: 200px;
}


.searchButton {
    position: absolute;
    color: white;
    float: right;
    top: 3px;
    right: 3px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border: none;
    margin-top: 2px;
}

.searchInput .MuiOutlinedInput-root {

    border-radius: 20px;

    float: left;
    padding: 0;

    font-size: 16px;
    transition: 0.4s;
    line-height: 10px;
    padding: 0px;
    height: 35px;
}

.Jobs_360 {
    border: 1px solid #6699ff !important;
    border-radius: 30px !important;
    color: red !important;
}


.searchInput .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color:  gray;
    border-width: 1px;
}
.Search_Items{
  z-index:10000;

  position:absolute;
  min-width:150px;
  padding:30px;
  text-align: center;
  right: -10px;
  border-radius: 10px !important;
  height: 200px;
  overflow-y: auto;
  
}
.menu_Items{
    padding:5px 20px  !important;
    border-radius: 10px !important;
margin-bottom: 10px !important;
}
.Search_Items::-webkit-scrollbar {
    width: 5px;
  
  }
  
  /* Track */
  .Search_Items::-webkit-scrollbar-track {
  
    border-radius: 10px;

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#d9d9d9; 
    border-radius: 10px;
  }
