.place_Icon{
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    color: #717b9e !important;
    margin-top: 8px !important;
}
.highlight_profile{
    border-bottom:5px solid red;
    border-radius: 3px;
    color:black !important; 
    font-weight: 700 !important;
    font-size: 14px !important;
    cursor: pointer;
}