.container{
position: absolute;
left: 50%;      
top:50%;
transform: translate(-50%, -50%);  
}

.heading{
color: #091e42;
 font-size: 20px !important; 
 font-weight: 550 !important;
}
.DoneIcon{
  margin-top:8px;
  color:#1976d2;
}
.text{
    padding: 10px 10px 0px 10px;
    text-align: "start";
}
.Logininfo-png{
  height: 200px;
   width: 200px; 
  margin: 10px 0px 0px 0px;
}
.login-container{
    
        color: #091e42 !important;
        font-size: 20px;
        font-weight:700;
        line-height: 50px;
        opacity:0.9;
   
}